/* Header content */
.header {
  /* outline: 2px solid red; */
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .header > h3 {
  outline: 2px solid red;
}

.header > p {
  outline: 2px solid red;
} */

/* Container content */
.container {
  outline: 2px solid blue;
  dispLay: flex;
  flex-direction: column;
  align-items: start;
  width: 70vw;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* .container > span {
  outline: 2px solid green;
} */

button {
  outline: 2px solid red;
  font-size: 15px;
  color: white;
  background-color: steelblue;
  margin-bottom: 0.2rem;
}

/* Heading */
.container > h1 {
  outline: 2px solid green;
  margin-bottom: 1rem;
  font-size: 30px;
}

/* Question */
.container > h2 {
  outline: 2px solid purple;
  margin-bottom: 1rem;
  font-size: 20px;
}

/* Result (Correct / Wrong) */
.container > h3 {
  font-size: 18px;
  color: grey;
}

/* Quiz description */
.container > p {
  margin-bottom: 1rem;
  font-size: 15px;
}

/* Form input */
.container > form {
  font-size: 18px;
  gap: 1rem;
}